<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anemone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {25, 186}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{25, 186}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {25, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {25, 186}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{25, 186}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {25, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {29, 178}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{29, 178}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {29, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {27, 182}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{27, 182}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 2}, {27, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {19, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{19, 186}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{29, 2}, {19, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {29, 180}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{29, 180}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 2}, {29, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {35, 180}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{35, 180}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 2}, {35, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {31, 182}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{31, 182}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 2}, {31, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {21, 182}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{21, 182}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 2}, {21, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 6}, {25, 180}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{25, 180}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 2}, {25, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 3}, {29, 184}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{29, 184}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 2}, {29, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 6}, {31, 180}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{31, 180}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 2}, {31, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemone9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {35, 176}}</string>
			<key>spriteOffset</key>
			<string>{7, -4}</string>
			<key>spriteSize</key>
			<string>{35, 176}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{325, 2}, {35, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 116}, {23, 70}}</string>
			<key>spriteOffset</key>
			<string>{-3, -56}</string>
			<key>spriteSize</key>
			<string>{23, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 184}, {23, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 116}, {17, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -56}</string>
			<key>spriteSize</key>
			<string>{17, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{235, 184}, {17, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 116}, {15, 70}}</string>
			<key>spriteOffset</key>
			<string>{-2, -56}</string>
			<key>spriteSize</key>
			<string>{15, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 74}, {15, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 115}, {15, 74}}</string>
			<key>spriteOffset</key>
			<string>{-1, -57}</string>
			<key>spriteSize</key>
			<string>{15, 74}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 180}, {15, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 117}, {15, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -57}</string>
			<key>spriteSize</key>
			<string>{15, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 2}, {15, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 116}, {21, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -56}</string>
			<key>spriteSize</key>
			<string>{21, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 184}, {21, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 116}, {19, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -56}</string>
			<key>spriteSize</key>
			<string>{19, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 184}, {19, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 116}, {17, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -56}</string>
			<key>spriteSize</key>
			<string>{17, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 184}, {17, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 116}, {17, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -56}</string>
			<key>spriteSize</key>
			<string>{17, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 184}, {17, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 116}, {15, 70}}</string>
			<key>spriteOffset</key>
			<string>{-2, -56}</string>
			<key>spriteSize</key>
			<string>{15, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{311, 182}, {15, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 116}, {15, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -56}</string>
			<key>spriteSize</key>
			<string>{15, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 180}, {15, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>anemonecoup9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 116}, {17, 70}}</string>
			<key>spriteOffset</key>
			<string>{-2, -56}</string>
			<key>spriteSize</key>
			<string>{17, 70}</string>
			<key>spriteSourceSize</key>
			<string>{51, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 184}, {17, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>
