<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>clown.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {120, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 368}, {82, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {120, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 246}, {82, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {118, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 242}, {82, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 86}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{118, 86}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 2}, {86, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {120, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 368}, {82, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {120, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{120, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 246}, {82, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {118, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 122}, {82, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 242}, {82, 112}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {118, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 122}, {82, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clown8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {120, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{120, 84}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {84, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {108, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{108, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 2}, {80, 108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {110, 80}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{110, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 120}, {80, 110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 4}, {104, 80}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{104, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 86}, {104, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clownAie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 4}, {102, 80}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{102, 80}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 168}, {102, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clownAie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 3}, {104, 82}}</string>
			<key>spriteOffset</key>
			<string>{9, -1}</string>
			<key>spriteSize</key>
			<string>{104, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 2}, {104, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clownAie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 4}, {106, 82}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{106, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 356}, {82, 106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {114, 82}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{114, 82}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 362}, {82, 114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {116, 84}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{116, 84}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 2}, {84, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownAie8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {120, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{120, 84}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 124}, {84, 120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 26}, {32, 26}}</string>
			<key>spriteOffset</key>
			<string>{-25, 4}</string>
			<key>spriteSize</key>
			<string>{32, 26}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 478}, {26, 32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 25}, {32, 26}}</string>
			<key>spriteOffset</key>
			<string>{-25, 5}</string>
			<key>spriteSize</key>
			<string>{32, 26}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 62}, {32, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clownEye2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 25}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{-24, 4}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 464}, {28, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 26}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{-25, 3}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 464}, {28, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 28}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{-25, 1}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 464}, {28, 34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 29}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{-25, -0}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 2}, {34, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>clownEye6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 30}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{-25, -1}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 478}, {28, 32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 29}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{-25, -0}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 478}, {28, 32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>clownEye8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 26}, {34, 28}}</string>
			<key>spriteOffset</key>
			<string>{-24, 3}</string>
			<key>spriteSize</key>
			<string>{34, 28}</string>
			<key>spriteSourceSize</key>
			<string>{130, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 32}, {34, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>