<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>coffre0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 80}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{128, 80}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 244}, {128, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {134, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{134, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 164}, {134, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {130, 76}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{130, 76}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 404}, {130, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {130, 78}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{130, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 84}, {130, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {130, 80}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{130, 80}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 2}, {130, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {134, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{134, 80}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {134, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {134, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{134, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 84}, {134, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {132, 76}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{132, 76}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 326}, {132, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffre8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 244}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 80}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{132, 80}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 84}, {132, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 246}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {128, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{128, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 326}, {128, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {126, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{126, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 404}, {126, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {124, 78}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{124, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 406}, {124, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {128, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{128, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 324}, {128, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 166}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {128, 78}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{128, 78}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 164}, {128, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreAie8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {128, 80}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{128, 80}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 2}, {128, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 30}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -9}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 2}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 29}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -8}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 366}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 29}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -8}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 164}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 29}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -8}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 286}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 29}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -8}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 2}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 30}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -9}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 324}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 30}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -9}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 44}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 30}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -9}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 86}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coffreEye8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 30}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{-33, -9}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{140, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 244}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>