<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>labre0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {131, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 37}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 62}, {131, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {131, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 35}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 115}, {131, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {131, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 37}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 76}, {131, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {131, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 41}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {131, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {131, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 35}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 138}, {131, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {131, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{131, 33}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 152}, {131, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {131, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 33}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 175}, {131, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {133, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{133, 35}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 39}, {133, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labre8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {133, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{133, 35}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 2}, {133, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 3}, {125, 31}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{125, 31}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 179}, {125, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {123, 31}}</string>
			<key>spriteOffset</key>
			<string>{3, 4}</string>
			<key>spriteSize</key>
			<string>{123, 31}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 210}, {123, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 2}, {121, 31}}</string>
			<key>spriteOffset</key>
			<string>{5, 4}</string>
			<key>spriteSize</key>
			<string>{121, 31}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 212}, {121, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {119, 33}}</string>
			<key>spriteOffset</key>
			<string>{7, 3}</string>
			<key>spriteSize</key>
			<string>{119, 33}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 187}, {119, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {125, 33}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{125, 33}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 144}, {125, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {131, 37}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{131, 37}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 66}, {131, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {129, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{129, 37}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 105}, {129, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {131, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 35}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 101}, {131, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreAie8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {131, 37}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{131, 37}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 2}, {131, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, -0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 41}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, 1}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 41}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, 1}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, 1}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, 1}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 41}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, 1}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, -0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, -0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>labreEye8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{-43, -0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{135, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 45}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>