<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>papillon0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 84}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 254}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {123, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{123, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 336}, {123, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {123, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{123, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 336}, {123, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {123, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{123, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {123, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{383, 2}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 84}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 2}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillon9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 166}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {123, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{123, 78}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 328}, {123, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 2}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 5}, {125, 78}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{125, 78}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{129, 248}, {125, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {123, 78}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{123, 78}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 166}, {123, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 2}, {123, 82}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{123, 82}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 170}, {123, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {121, 84}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{121, 84}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 84}, {121, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {125, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{125, 80}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{125, 84}, {125, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {123, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{123, 78}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 166}, {123, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonAie8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {123, 78}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{123, 78}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 418}, {123, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 29}, {39, 22}}</string>
			<key>spriteOffset</key>
			<string>{-31, 3}</string>
			<key>spriteSize</key>
			<string>{39, 22}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 462}, {39, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 29}, {41, 26}}</string>
			<key>spriteOffset</key>
			<string>{-30, 1}</string>
			<key>spriteSize</key>
			<string>{41, 26}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 408}, {41, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 26}, {43, 38}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{43, 38}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 246}, {43, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 26}, {43, 38}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{43, 38}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 286}, {43, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 27}, {43, 36}}</string>
			<key>spriteOffset</key>
			<string>{-29, -2}</string>
			<key>spriteSize</key>
			<string>{43, 36}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 284}, {43, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 27}, {43, 36}}</string>
			<key>spriteOffset</key>
			<string>{-29, -2}</string>
			<key>spriteSize</key>
			<string>{43, 36}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 246}, {43, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 27}, {41, 36}}</string>
			<key>spriteOffset</key>
			<string>{-29, -2}</string>
			<key>spriteSize</key>
			<string>{41, 36}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 246}, {41, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 29}, {41, 30}}</string>
			<key>spriteOffset</key>
			<string>{-28, -1}</string>
			<key>spriteSize</key>
			<string>{41, 30}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 284}, {41, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>papillonEye8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 29}, {39, 24}}</string>
			<key>spriteOffset</key>
			<string>{-30, 2}</string>
			<key>spriteSize</key>
			<string>{39, 24}</string>
			<key>spriteSourceSize</key>
			<string>{141, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 436}, {39, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>